@media only screen and (min-width: 200px) and (max-width: 995px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: center !important;
        left: 0px;
    }

    .banner-content h1{
        font-size: 40px;
        font-weight: 20px; 
        line-height: 48px;
    }

    .banner-content p, .banner-content li{
        font-size: 16px;
    } 

    .banner-content button{
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 12px;
        width: 100%;
    }
    .bookform{
        margin-top: 20px;
    }
    
    .Cirriculum h2{
        font-size: 22px;
        font-weight: bold;
    }
    .Cirriculum p li{
        font-size: 14px;
    }
    .question h2{
        font-size: 22px;
        font-weight: bold;
    }
    .question p div{
        font-size: 14px;
    }
    
}

@media (min-width: 1400px) {
    .container, .container-md, .container-sm {
        max-width: 1170px;
    }
}